:root {
	--primary: #4682B4;
}

body {
	font-family: 'Poppins', sans-serif;;
}

.navbar {
	min-height: 90px;
}


/* Se modifica los colores utilizando una variable y asignandola al boton superior*/
.btn-primary {
	background-color: var(--primary);
	border-color: var(--primary);
}

.navbar .btn {
	padding: .625rem 1.25rem !important;
}

.btn{
	padding: 1rem;
}

.btn-primary:hover {
	background-color: var(--primary);
	border-color: var(--primary);
}	

/* Modificacion del encabezado de la pagina */

.text-primary {
	color: var(--primary) !important;
}

/* Seccion 1 */

.bg-primary {
	background-color: var(--primary) !important;
}

.content {
	max-width: 500px;
}

#hero {
	height: 900px;
}

/* Secction 2 */



/* Resposive design */

@media (max-width: 992px){
	.navbar {
		position: relative !important;
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}
}